

/* WINI.CSS 1.0 Mars 2019 by Jars Technologies */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@font-face {
    font-family: "Glyphicons Halflings";
    /*src: url("../fonts/glyphicons-halflings-regular.eot");*/
    /*src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");*/
}

.wini_grid1 {
    display: grid;
}

/*Wini flex containeur*/
.wini_flex {
    display: -ms-flexbox;
    padding: 5rem 0;
    -ms-flex-wrap: wrap;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.wini_flex > section, .wini_flex > div, .wini_flex > span {
    margin: 1%;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


/*Wini Grid containeur*/
.wini_grid {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/*Wini Grid global rules*/

.wini_one-block, .wini_two-block_1-1_, .wini_two-block_1-2_, .wini_tree-block_1-1-1_, .wini_tree-block_2-1-1_, .wini_tree-block_1-2-1_, .wini_tree-block_1-1-2_, .wini_four-block_1-1-1-1_, .wini_four-block_1-1-1-1_, .wini_four-block_2-1-1-1_, .wini_four-block_1-2-1-1_, .wini_four-block_1-1-2-1_, .wini_four-block_1-1-1-2_ {
    position: relative;
    width: 100%;
    display: grid;
    /*margin: 3%;*/
    padding-right: auto;
    padding-left: auto;
    order: 0; /* default is 0 */
    align-self: center; /* | flex-start | flex-end | auto | baseline | stretch;*/
    /*justify-items: center;
    align-items: center;
    padding:10px;*/

}

/*Wini child Grid display rules*/
.wini_one-block > section, .wini_two-block_1-1_ > section, .wini_two-block_1-2_ > section, .wini_tree-block_1-1-1_ > section, .wini_tree-block_2-1-1_ > section, .wini_tree-block_1-2-1_ > section, .wini_tree-block_1-1-2_ > section, .wini_four-block_1-1-1-1_ > section, .wini_four-block_1-1-1-1_ > section, .wini_four-block_2-1-1-1_ > section, .wini_four-block_1-2-1-1_ > section, .wini_four-block_1-1-2-1_ > section, .wini_four-block_1-1-1-2_ > section {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 1%;
    padding: 10px;
}

.wini_one-block > div, .wini_two-block_1-1_ > div, .wini_two-block_1-2_ > div, .wini_tree-block_1-1-1_ > div, .wini_tree-block_2-1-1_ > div, .wini_tree-block_1-2-1_ > div, .wini_tree-block_1-1-2_ > div, .wini_four-block_1-1-1-1_ > div, .wini_four-block_1-1-1-1_ > div, .wini_four-block_2-1-1-1_ > div, .wini_four-block_1-2-1-1_ > div, .wini_four-block_1-1-2-1_ > div, .wini_four-block_1-1-1-2_ > div {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 1%;
    padding: 10px;
}

.wini_one-block > span, .wini_two-block_1-1_ > span, .wini_two-block_1-2_ > span, .wini_tree-block_1-1-1_ > span, .wini_tree-block_2-1-1_ > span, .wini_tree-block_1-2-1_ > span, .wini_tree-block_1-1-2_ > span, .wini_four-block_1-1-1-1_ > span, .wini_four-block_1-1-1-1_ > span, .wini_four-block_2-1-1-1_ > span, .wini_four-block_1-2-1-1_ > span, .wini_four-block_1-1-2-1_ > span, .wini_four-block_1-1-1-2_ > span {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 1%;
    padding: 10px;
}


/*Wini Grid under child  responsive rules*/
.wini_one-block > section img, .wini_two-block_1-1_ > section img, .wini_two-block_1-2_ > section img, .wini_tree-block_1-1-1_ > section img, .wini_tree-block_2-1-1_ > section img, .wini_tree-block_1-2-1_ > section img, .wini_tree-block_1-1-2_ > section img, .wini_four-block_1-1-1-1_ > section img, .wini_four-block_1-1-1-1_ > section img, .wini_four-block_2-1-1-1_ > section img, .wini_four-block_1-2-1-1_ > section img, .wini_four-block_1-1-2-1_ > section img, .wini_four-block_1-1-1-2_ > section img {
    display: block;
    height: auto;
    max-width: 100%;
    float: left;
    margin: 5% !important;
}

.wini_one-block > div img, .wini_two-block_1-1_ > div img, .wini_two-block_1-2_ > div img, .wini_tree-block_1-1-1_ > div img, .wini_tree-block_2-1-1_ > div img, .wini_tree-block_1-2-1_ > div img, .wini_tree-block_1-1-2_ > div img, .wini_four-block_1-1-1-1_ > div img, .wini_four-block_1-1-1-1_ > div img, .wini_four-block_2-1-1-1_ > div img, .wini_four-block_1-2-1-1_ > div img, .wini_four-block_1-1-2-1_ > div img, .wini_four-block_1-1-1-2_ > div img {
    display: block;
    height: auto;
    max-width: 100%;
    float: left;
}

.wini_one-block > span img, .wini_two-block_1-1_ > span img, .wini_two-block_1-2_ > span img, .wini_tree-block_1-1-1_ > span img, .wini_tree-block_2-1-1_ > span img, .wini_tree-block_1-2-1_ > span img, .wini_tree-block_1-1-2_ > span img, .wini_four-block_1-1-1-1_ > span img, .wini_four-block_1-1-1-1_ > span img, .wini_four-block_2-1-1-1_ > span img, .wini_four-block_1-2-1-1_ > span img, .wini_four-block_1-1-2-1_ > span img, .wini_four-block_1-1-1-2_ > div img {
    display: block;
    height: auto;
    max-width: 100%;
    float: left;
    margin: 5% !important;
}
.wini_one-block > div iframe, .wini_two-block_1-1_ > div iframe, .wini_two-block_1-2_ > div iframe, .wini_tree-block_1-1-1_ > div iframe, .wini_tree-block_2-1-1_ > div iframe, .wini_tree-block_1-2-1_ > div iframe, .wini_tree-block_1-1-2_ > div iframe, .wini_four-block_1-1-1-1_ > div iframe, .wini_four-block_1-1-1-1_ > div iframe, .wini_four-block_2-1-1-1_ > div iframe, .wini_four-block_1-2-1-1_ > div iframe, .wini_four-block_1-1-2-1_ > div iframe, .wini_four-block_1-1-1-2_ > div iframe {
    display: block;
    max-width: 100%;
    float: left;
    margin: 1vw!important;
}

.wini_one-block > span iframe, .wini_two-block_1-1_ > span iframe, .wini_two-block_1-2_ > span iframe, .wini_tree-block_1-1-1_ > span iframe, .wini_tree-block_2-1-1_ > span iframe, .wini_tree-block_1-2-1_ > span iframe, .wini_tree-block_1-1-2_ > span iframe, .wini_four-block_1-1-1-1_ > span iframe, .wini_four-block_1-1-1-1_ > span iframe, .wini_four-block_2-1-1-1_ > span iframe, .wini_four-block_1-2-1-1_ > span iframe, .wini_four-block_1-1-2-1_ > span iframe, .wini_four-block_1-1-1-2_ > div iframe {
    display: block;
    max-width: 100%;
    float: left;
    margin: 1vw!important;
}

.wini_one-block > section table, .wini_two-block_1-1_ > section table, .wini_two-block_1-2_ > section table, .wini_tree-block_1-1-1_ > section table, .wini_tree-block_2-1-1_ > section table, .wini_tree-block_1-2-1_ > section table, .wini_tree-block_1-1-2_ > section table, .wini_four-block_1-1-1-1_ > section table, .wini_four-block_1-1-1-1_ > section table, .wini_four-block_2-1-1-1_ > section table, .wini_four-block_1-2-1-1_ > section table, .wini_four-block_1-1-2-1_ > section table, .wini_four-block_1-1-1-2_ > section table {
    display: block;
    height: auto;
    max-width: 100%;
}

.wini_one-block > div table, .wini_two-block_1-1_ > div table, .wini_two-block_1-2_ > div table, .wini_tree-block_1-1-1_ > div table, .wini_tree-block_2-1-1_ > div table, .wini_tree-block_1-2-1_ > div table, .wini_tree-block_1-1-2_ > div table, .wini_four-block_1-1-1-1_ > div table, .wini_four-block_1-1-1-1_ > div table, .wini_four-block_2-1-1-1_ > div table, .wini_four-block_1-2-1-1_ > div table, .wini_four-block_1-1-2-1_ > div table, .wini_four-block_1-1-1-2_ > div table {
    display: block;
    height: auto;
    max-width: 100%;
}

.wini_one-block > span table, .wini_two-block_1-1_ > span table, .wini_two-block_1-2_ > span table, .wini_tree-block_1-1-1_ > span table, .wini_tree-block_2-1-1_ > span table, .wini_tree-block_1-2-1_ > span table, .wini_tree-block_1-1-2_ > span table, .wini_four-block_1-1-1-1_ > span table, .wini_four-block_1-1-1-1_ > span table, .wini_four-block_2-1-1-1_ > span table, .wini_four-block_1-2-1-1_ > span table, .wini_four-block_1-1-2-1_ > span table, .wini_four-block_1-1-1-2_ > span table {
    display: block;
    height: auto;
    max-width: 100%;
}

.wini_one-block > section form, .wini_two-block_1-1_ > section form, .wini_two-block_1-2_ > section form, .wini_tree-block_1-1-1_ > section form, .wini_tree-block_2-1-1_ > section form, .wini_tree-block_1-2-1_ > section form, .wini_tree-block_1-1-2_ > section form, .wini_four-block_1-1-1-1_ > section form, .wini_four-block_1-1-1-1_ > section form, .wini_four-block_2-1-1-1_ > section form, .wini_four-block_1-2-1-1_ > section form, .wini_four-block_1-1-2-1_ > section form, .wini_four-block_1-1-1-2_ > section form {
    display: block;
    height: auto;
    max-width: 100%;
}

.wini_one-block > div form, .wini_two-block_1-1_ > div form, .wini_two-block_1-2_ > div form, .wini_tree-block_1-1-1_ > div form, .wini_tree-block_2-1-1_ > div form, .wini_tree-block_1-2-1_ > div form, .wini_tree-block_1-1-2_ > div form, .wini_four-block_1-1-1-1_ > div form, .wini_four-block_1-1-1-1_ > div form, .wini_four-block_2-1-1-1_ > div form, .wini_four-block_1-2-1-1_ > div form, .wini_four-block_1-1-2-1_ > div form, .wini_four-block_1-1-1-2_ > div form {
    display: block;
    height: auto;
    max-width: 100%;
}

.wini_one-block > span form, .wini_two-block_1-1_ > span form, .wini_two-block_1-2_ > span form, .wini_tree-block_1-1-1_ > span form, .wini_tree-block_2-1-1_ > span form, .wini_tree-block_1-2-1_ > span form, .wini_tree-block_1-1-2_ > span form, .wini_four-block_1-1-1-1_ > span form, .wini_four-block_1-1-1-1_ > span form, .wini_four-block_2-1-1-1_ > span form, .wini_four-block_1-2-1-1_ > span form, .wini_four-block_1-1-2-1_ > span form, .wini_four-block_1-1-1-2_ > span form {
    display: block;
    height: auto;
    max-width: 100%;
}


/*Wini Grid media rules*/
@media (min-width: 320px) {
    /* One block */
    .wini_one-block {
        grid-template-columns: 100%;
    }

    .wini_one-block > .wini_one-block {
        grid-template-columns: 100%;
    }


    /* Two blocks */
    .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-1_ > .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ > .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ > .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }


    /* Tree blocks */
    .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-1_ > .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ > .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ > .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ > .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    /* Four blocks */
    .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-1_ > .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ > .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ > .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ > .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ > .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }
}

@media (min-width: 375px) {
    /* One block */
    .wini_one-block {
        grid-template-columns: 100%;
    }

    .wini_one-block > .wini_one-block {
        grid-template-columns: 100%;
    }


    /* Two blocks */
    .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-1_ > .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ > .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ > .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }


    /* Tree blocks */
    .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-1_ > .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ > .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ > .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ > .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    /* Four blocks */
    .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-1_ > .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ > .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ > .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ > .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ > .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }
}


@media (min-width: 425px) {
    /* One block */
    .wini_one-block {
        grid-template-columns: 100%;
    }

    .wini_one-block > .wini_one-block {
        grid-template-columns: 100%;
    }


    /* Two blocks */
    .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-1_ > .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ > .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ > .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }


    /* Tree blocks */
    .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-1_ > .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ > .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ > .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ > .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    /* Four blocks */
    .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-1_ > .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ > .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ > .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ > .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ > .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }
}

@media (min-width: 576px) {
    /* One block */
    .wini_one-block {
        grid-template-columns: 100%;
    }

    .wini_one-block > .wini_one-block {
        grid-template-columns: 100%;
    }


    /* Two blocks */
    .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-1_ > .wini_two-block_1-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_2-1_ > .wini_two-block_2-1_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }

    .wini_two-block_1-2_ > .wini_two-block_1-2_ {
        grid-template-columns: 100%;
    }


    /* Tree blocks */
    .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-1_ > .wini_tree-block_1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_2-1-1_ > .wini_tree-block_2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-2-1_ > .wini_tree-block_1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_tree-block_1-1-2_ > .wini_tree-block_1-1-2_ {
        grid-template-columns: 100%;
    }

    /* Four blocks */
    .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-1_ > .wini_four-block_1-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_2-1-1-1_ > .wini_four-block_2-1-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-2-1-1_ > .wini_four-block_1-2-1-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-2-1_ > .wini_four-block_1-1-2-1_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }

    .wini_four-block_1-1-1-2_ > .wini_four-block_1-1-1-2_ {
        grid-template-columns: 100%;
    }
}

@media (min-width: 768px) {

    .wini_one-block {
        grid-template-columns: 100%;
    }

    .wini_one-block > .wini_one-block {
        grid-template-columns: 100%;
    }


    /* Two blocks */
    .wini_two-block_1-1_ {
        grid-template-columns: 50% 50%;
    }

    .wini_two-block_1-1_ > .wini_two-block_1-1_ {
        grid-template-columns: 50% 50%;
    }

    .wini_two-block_2-1_ {
        grid-template-columns: 66.66666667% 33.33333333%;
    }

    .wini_two-block_2-1_ > .wini_two-block_2-1_ {
        grid-template-columns: 66.66666667% 33.33333333%;
    }

    .wini_two-block_1-2_ {
        grid-template-columns: 33.33333333% 66.66666667%;
    }

    .wini_two-block_1-2_ > .wini_two-block_1-2_ {
        grid-template-columns: 33.33333333% 66.66666667%;
    }


    /* Tree blocks */
    .wini_tree-block_1-1-1_ {
        grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    }

    .wini_tree-block_1-1-1_ > .wini_tree-block_1-1-1_ {
        grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    }

    .wini_tree-block_2-1-1_ {
        grid-template-columns: 50% 25% 25%;
    }

    .wini_tree-block_2-1-1_ > .wini_tree-block_2-1-1_ {
        grid-template-columns: 50% 25% 25%;
    }

    .wini_tree-block_1-2-1_ {
        grid-template-columns: 25% 50% 25%;
    }

    .wini_tree-block_1-2-1_ > .wini_tree-block_1-2-1_ {
        grid-template-columns: 25% 50% 25%;
    }

    .wini_tree-block_1-1-2_ {
        grid-template-columns: 25% 25% 50%;
    }

    .wini_tree-block_1-1-2_ > .wini_tree-block_1-1-2_ {
        grid-template-columns: 25% 25% 50%;
    }

    /* Four blocks */
    .wini_four-block_1-1-1-1_ {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .wini_four-block_1-1-1-1_ > .wini_four-block_1-1-1-1_ {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .wini_four-block_2-1-1-1_ {
        grid-template-columns: 41.666667% 19.444443% 19.444443% 19.444443%;
    }

    .wini_four-block_2-1-1-1_ > .wini_four-block_2-1-1-1_ {
        grid-template-columns: 41.666667% 19.444443% 19.444443% 19.444443%;
    }

    .wini_four-block_1-2-1-1_ {
        grid-template-columns: 19.444443% 41.666667% 19.444443% 19.444443%;
    }

    .wini_four-block_1-2-1-1_ > .wini_four-block_1-2-1-1_ {
        grid-template-columns: 19.444443% 41.666667% 19.444443% 19.444443%;
    }

    .wini_four-block_1-1-2-1_ {
        grid-template-columns: 19.444443% 19.444443% 41.666667% 19.444443%;
    }

    .wini_four-block_1-1-2-1_ > .wini_block_1-1-2-1_ {
        grid-template-columns: 19.444443% 19.444443% 41.666667% 19.444443%;
    }

    .wini_four-block_1-1-1-2_ {
        grid-template-columns: 19.444443% 19.444443% 19.444443% 41.666667%;
    }

    .wini_four-block_1-1-1-2_ > .wini_four-block_1-1-1-2_ {
        grid-template-columns: 19.444443% 19.444443% 19.444443% 41.666667%;
    }

}

@media (min-width: 992px) {

    .wini_one-block {
        grid-template-columns: 100%;
    }

    .wini_one-block > .wini_one-block {
        grid-template-columns: 100%;
    }


    /* Two blocks */
    .wini_two-block_1-1_ {
        grid-template-columns: 50% 50%;
    }

    .wini_two-block_1-1_ > .wini_two-block_1-1_ {
        grid-template-columns: 50% 50%;
    }

    .wini_two-block_2-1_ {
        grid-template-columns: 66.66666667% 33.33333333%;
    }

    .wini_two-block_2-1_ > .wini_two-block_2-1_ {
        grid-template-columns: 66.66666667% 33.33333333%;
    }

    .wini_two-block_1-2_ {
        grid-template-columns: 33.33333333% 66.66666667%;
    }

    .wini_two-block_1-2_ > .wini_two-block_1-2_ {
        grid-template-columns: 33.33333333% 66.66666667%;
    }


    /* Tree blocks */
    .wini_tree-block_1-1-1_ {
        grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    }

    .wini_tree-block_1-1-1_ > .wini_tree-block_1-1-1_ {
        grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    }

    .wini_tree-block_2-1-1_ {
        grid-template-columns: 50% 25% 25%;
    }

    .wini_tree-block_2-1-1_ > .wini_tree-block_2-1-1_ {
        grid-template-columns: 50% 25% 25%;
    }

    .wini_tree-block_1-2-1_ {
        grid-template-columns: 25% 50% 25%;
    }

    .wini_tree-block_1-2-1_ > .wini_tree-block_1-2-1_ {
        grid-template-columns: 25% 50% 25%;
    }

    .wini_tree-block_1-1-2_ {
        grid-template-columns: 25% 25% 50%;
    }

    .wini_tree-block_1-1-2_ > .wini_tree-block_1-1-2_ {
        grid-template-columns: 25% 25% 50%;
    }

    /* Four blocks */
    .wini_four-block_1-1-1-1_ {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .wini_four-block_1-1-1-1_ > .wini_four-block_1-1-1-1_ {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .wini_four-block_2-1-1-1_ {
        grid-template-columns: 41.666667% 19.444443% 19.444443% 19.444443%;
    }

    .wini_four-block_2-1-1-1_ > .wini_four-block_2-1-1-1_ {
        grid-template-columns: 41.666667% 19.444443% 19.444443% 19.444443%;
    }

    .wini_four-block_1-2-1-1_ {
        grid-template-columns: 19.444443% 41.666667% 19.444443% 19.444443%;
    }

    .wini_four-block_1-2-1-1_ > .wini_four-block_1-2-1-1_ {
        grid-template-columns: 19.444443% 41.666667% 19.444443% 19.444443%;
    }

    .wini_four-block_1-1-2-1_ {
        grid-template-columns: 19.444443% 19.444443% 41.666667% 19.444443%;
    }

    .wini_four-block_1-1-2-1_ > .wini_block_1-1-2-1_ {
        grid-template-columns: 19.444443% 19.444443% 41.666667% 19.444443%;
    }

    .wini_four-block_1-1-1-2_ {
        grid-template-columns: 19.444443% 19.444443% 19.444443% 41.666667%;
    }

    .wini_four-block_1-1-1-2_ > .wini_four-block_1-1-1-2_ {
        grid-template-columns: 19.444443% 19.444443% 19.444443% 41.666667%;
    }
}

@media (min-width: 1200px) {
    /* One block */
    .wini_one-block {
        grid-template-columns: 100%;
    }

    .wini_one-block > .wini_one-block {
        grid-template-columns: 100%;
    }


    /* Two blocks */
    .wini_two-block_1-1_ {
        grid-template-columns: 50% 50%;
    }

    .wini_two-block_1-1_ > .wini_two-block_1-1_ {
        grid-template-columns: 50% 50%;
    }

    .wini_two-block_2-1_ {
        grid-template-columns: 66.66666667% 33.33333333%;
    }

    .wini_two-block_2-1_ > .wini_two-block_2-1_ {
        grid-template-columns: 66.66666667% 33.33333333%;
    }

    .wini_two-block_1-2_ {
        grid-template-columns: 33.33333333% 66.66666667%;
    }

    .wini_two-block_1-2_ > .wini_two-block_1-2_ {
        grid-template-columns: 33.33333333% 66.66666667%;
    }


    /* Tree blocks */
    .wini_tree-block_1-1-1_ {
        grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    }

    .wini_tree-block_1-1-1_ > .wini_tree-block_1-1-1_ {
        grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    }

    .wini_tree-block_2-1-1_ {
        grid-template-columns: 50% 25% 25%;
    }

    .wini_tree-block_2-1-1_ > .wini_tree-block_2-1-1_ {
        grid-template-columns: 50% 25% 25%;
    }

    .wini_tree-block_1-2-1_ {
        grid-template-columns: 25% 50% 25%;
    }

    .wini_tree-block_1-2-1_ > .wini_tree-block_1-2-1_ {
        grid-template-columns: 25% 50% 25%;
    }

    .wini_tree-block_1-1-2_ {
        grid-template-columns: 25% 25% 50%;
    }

    .wini_tree-block_1-1-2_ > .wini_tree-block_1-1-2_ {
        grid-template-columns: 25% 25% 50%;
    }

    /* Four blocks */
    .wini_four-block_1-1-1-1_ {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .wini_four-block_1-1-1-1_ > .wini_four-block_1-1-1-1_ {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .wini_four-block_2-1-1-1_ {
        grid-template-columns: 41.666667% 19.444443% 19.444443% 19.444443%;
    }

    .wini_four-block_2-1-1-1_ > .wini_four-block_2-1-1-1_ {
        grid-template-columns: 41.666667% 19.444443% 19.444443% 19.444443%;
    }

    .wini_four-block_1-2-1-1_ {
        grid-template-columns: 19.444443% 41.666667% 19.444443% 19.444443%;
    }

    .wini_four-block_1-2-1-1_ > .wini_four-block_1-2-1-1_ {
        grid-template-columns: 19.444443% 41.666667% 19.444443% 19.444443%;
    }

    .wini_four-block_1-1-2-1_ {
        grid-template-columns: 19.444443% 19.444443% 41.666667% 19.444443%;
    }

    .wini_four-block_1-1-2-1_ > .wini_block_1-1-2-1_ {
        grid-template-columns: 19.444443% 19.444443% 41.666667% 19.444443%;
    }

    .wini_four-block_1-1-1-2_ {
        grid-template-columns: 19.444443% 19.444443% 19.444443% 41.666667%;
    }

    .wini_four-block_1-1-1-2_ > .wini_four-block_1-1-1-2_ {
        grid-template-columns: 19.444443% 19.444443% 19.444443% 41.666667%;
    }

}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .navbar {
        display: none;
    }

    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }

    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table td,
    .table th {
        background-color: #fff !important;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
}
a:hover{
    text-decoration: none!important;
}